* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
body {
  background: rgba(2, 2, 60, 0.795);
}

.btn {
  font-size: 40px;
  font-weight: 600;
  color: azure;
}
.btn:active {
  color: darkorange;
}
.btn2 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.btn2:active {
  color: green;
}
.img {
  border: 2px solid red;
  border-radius: 50%;
}
